<style>

	@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

</style>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<meta name="viewport" content="">
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px"></a>
	<div class="w3-container">

	  <h4 class="w3-padding-64"><b>Pages</b></h4>

	</div>
	
	<div class="w3-bar-block">

	  <a href="#"  class="w3-bar-item w3-button w3-hover-white"> BCP Health<br> </a> 
	  <a href="People" class="w3-bar-item w3-button w3-hover-white"> People <br></a> 
	  <a href="Customer Experience" class="w3-bar-item w3-button w3-hover-white"> Customer Experience <br></a> 
	  <a href="Operational Health" class="w3-bar-item w3-button w3-hover-white">Operational Health<br></a> 	
	  <a href="PROFIT LOSS" class="w3-bar-item w3-button w3-hover-white">Profit & Loss <br></a> 	


	</div>
  </nav>

  
<div class="heading">
   <h2> Songs Profit & Loss Health <span class="dot-2"></span></h2>
</div>




 
<!-- <div class="grid-container">   

	<div class="grid-item">        
         
		  <div id="highcharts-container"> </div>     
        
	</div>  -->





<!-- 
<div class="pivot-container-4">

		<fm-pivot #pivot
			[toolbar]="false"
			[shareReportConnection]="{url: 'https://olap.flexmonster.com:9500'}"
			[report]="pivotReport"
			[height]="0"
			[width]="0"
			[licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
			(reportcomplete)="onReportComplete()"
			(beforetoolbarcreated)="customizeToolbar($event)"
			>
		</fm-pivot>


	
</div> -->